.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Photo";
  display: inline-block;
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  /* border: 1px solid #999; */
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  /* text-shadow: 1px 1px #fff; */
  font-weight: 700;
  font-size: 1rem;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom_overlay {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 300px;
  color: white;
  overflow: hidden;
  background: #c04848; /* fallback for old browsers */
  background: linear-gradient(rgba(109, 0, 109, 0.8), rgba(172, 43, 43, 0.8)),
    url("https://i.ibb.co/NnxrdJM/registerpage.jpg"); /* Chrome 10-25, Safari 5.1-6 */
  background-size: cover;
  background-repeat: no-repeat;
}

.hover_btn {
  width: 150px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.hover_btn:hover {
  background: #111827;
}

.custom_shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.active {
  color : #27b1e7;
  border-bottom: 3px solid #0055b6;
}

hr {
  border: 1px solid #000;
}